
.footer {
  margin-top: 300px;

  height: 60px;
  position: relative;
  background-color: green;
  color: white;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  text-align: center;
  
} 
