/* .bg{
  background-color: green; 
  color:red;
  height: 50px;
  /* font-weight: bold; */
  font-size: 10;

  
} */


.footer {
  min-height: 100px;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  text-align: center;
  background: #8FBC8F;
}
