<<<<<<< HEAD
.buton1{
  margin-right: 10px;
=======
.buton{
  margin: 10px;
}

.buton1{
  margin-bottom: 15px;
  margin-left: 600px;
  margin-top: 20px;
>>>>>>> 691006ba2daaae5796a08ffc18dab013bb480ef3
}