.navbar{
  background-color: green; 
}
.navbar-brand{
  color: red;
  font-weight: bolder;
  font-size: 25px
}

nav.navbar.navbar-default {
  margin-bottom: 0;
}

.nav-link{
  color: red;
  font-size: 18px;
 


}